.box.left 
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), 
    :html => { :method => :put, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    %legend
      = t("devise.base.change_password")
    = f.hidden_field :reset_password_token
    .control-group
      = f.label :password, User.human_attribute_name("new_password"), :class => "control-label"
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation, :class => "control-label"
      .controls
        = f.password_field :password_confirmation
    .form-actions
      = f.submit t("devise.base.change_password"), :class => "btn btn-primary"
= render "users/shared/links"
