.box.left
  = edit_user_tabs
  = form_for(resource, :as => resource_name, :url => update_pwd_path, 
    :html => { :method => :put, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    .control-group
      = f.label :password, :class => "control-label"
      .controls
        = f.password_field :password, :autocomplete => "off"
    .control-group
      = f.label :password_confirmation, :class => "control-label"
      .controls
        = f.password_field :password_confirmation
    .control-group
      = f.label :current_password, :class => "control-label"
      .controls
        = f.password_field :current_password
    .form-actions
      = f.submit t("devise.base.update"), :class => "btn btn-primary"
