.box.left
  = edit_user_tabs
  = form_for(resource, :as => resource_name, :url => update_avatar_path, 
    :html => { :method => :put, :class => "form-horizontal", :style=> "margin-left: 50px;" }) do |f|
    = devise_error_messages!
    %ul.thumbnails
      %li{:style => "width: 200px;"}
        = link_to image_tag(resource.avatar.url(:medium)), "#", :class => "thumbnail"
    = f.file_field :avatar, :class => "btn"
    = f.submit t("devise.base.upload"), :class => "btn btn-primary"

